<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Flask SimpleOAuth -- {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="content">
            {% with messages = get_flashed_messages() %}
            <div class="flashes">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
